# Ignore file for bat-agn-fir-morphology
*.pyc
galfit.*
fit.log
bad_pixel.txt
test*
results/sersicANDpsf/**
results/psf/PACS*/*psf.fits
results/psf/PACS*/*.input
results/psf/PACS*/*.txt
results/sersic/PACS*/*sersic.fits
results/sersic/PACS*/*.input
results/sersic/PACS*/*.txt
alphaTaupsf/**
*.xlsx