# Ignore file for bat-agn-fir-morphology
*.pyc
galfit.*
fit.log
bad_pixel.txt
test*
results/sersic/**
results/sersicANDpsf/**
results/psf/PACS70/*psf.fits
results/psf/PACS70/*.input
results/psf/PACS70/*.txt
alphaTaupsf/**